<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include("../partials/navbar") %>
        <div class="container">
            <h1 class="mb-4 mt-2">
                <%= article.title %>
            </h1>
            <div class="text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %>
            </div>
            <a href="/home" class="btn btn-secondary">All Articles</a>

            <% if( (article.createdBy)===(user.email) ) { %>
                <a href="edit/<%= article.id %>" class="btn btn-secondary">Edit</a>
                <% } else { %>
                    <div></div>
                    <% } %>
                        <div>
                            Description:
                            <%= article.description %>
                        </div>
                        <div>
                            Markdowm:
                            <%= article.markdown %>
                        </div>
        </div>
</body>

</html>